<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus culpa esse vero quidem animi odit eius est, adipisci quasi molestiae mollitia dicta, recusandae corporis. Vero dicta totam veritatis fuga est.</p>
        </div>
    </div>
</header>